/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: white;
    color: black;
    line-height: 1.6;
  }
  
  /* Navbar */
  header {
    background: #FFD72E;
    padding: 15px 30px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav h1 {
    font-size: 20px;
    font-weight: bold;
    color: black;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  /* Section */
  section {
    padding: 60px 20px;
    text-align: center;
  }
  
  /* Footer */
  footer {
    background: black;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
  }
  